<footer>
<div class="footer navbar-fixed-bottom page-wrap-footer font-small blue pt-6 text-center fixed" >

  <div id="push"></div>
<footer class="footer navbar-fixed-bottom page-wrap-footer font-small blue pt-6 text-center fixed" >


   
  <div class="footer-bottom mb-5 has text-white">
    Copyright &copy; Mayv 2020  |  Designed by Yves Mahirwe 
  </div>
</div>

</footer>